body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-b);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17)!important; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(16px)!important;
  -webkit-backdrop-filter: blur(16px)!important;
}
.shadow {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
}